<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About</title>
</head>
<body>
    <header>
        <h1>Про кухаря</h1>
        <h1><a href="/">Головна</a></h1>
    </header>
    <main>
        <p>Блог для приготування смачних страв.</p>
    </main>
</body>
</html>
